*{
	font-family: "gothiks-round", sans-serif;
	box-sizing: border-box;
	letter-spacing: 1px;
}

body {
	background-color: #B0A690;
	font-family: "gothiks-round", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 30px;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 10vw;
	font-weight: 400;
	text-align: center;
	background-color: #B0A690;
	font-weight: 400;
	line-height: 130px;
	-webkit-text-stroke-width: .4vw;
  -webkit-text-stroke-color: #262321;
  color: #B0A690;
  margin-top: 0;
}

hr {
  border: 4px solid black;
  margin-top: -80px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: -1;
}

.navbar {
	background-color: #262321;
	border: solid 5px #000000;
	height: 100px;
	position: sticky;
	top: 0px;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	z-index: 99;
	padding: 0 40px 0 40px;
}

#nature-sounds-btn {
  background-color: #B0A690;
  border: solid 5px #000000;
  cursor: pointer;
  padding: 2px 5px 2px 5px;
  font-weight: 300;
  width: 200px;
  font-size: 28px;
}

#city-sounds-btn {
  background-color: #B0A690;
  border: solid 5px #000000;
  cursor: pointer;
  padding: 2px 5px 2px 5px;
  font-weight: 300;
  width: 200px;
  font-size: 28px;
}

#play-icon {
  display: inline-block;
}

#pause-icon {
  display: none;
}

.about {
	color: #000000;
	text-decoration: none;
	padding: 2px 20px 2px 20px;
	text-align: right;
	background-color: #B0A690;
	border: solid 5px #000000;
	font-size: 28px;
	font-weight: 300;
}

.about:hover {
	background-color: black;
	color: #B0A690;
}

.text {
	font-family: "pt-sans-narrow", sans-serif;
	font-size: 16px;
	text-align: left;
	padding: 2vw 3vw 2vw 3vw;
	background-color: #B0A690;
	border: solid 5px #000000;
	margin-right: 20vw;
	margin-left: 20vw;
}

@media (max-width: 800px) {
	h1 {
		font-size: 20vw;
		-webkit-text-stroke-width: .8vw;
		margin-top: -5px;
	}

	.buttons {
		margin-top: 40px;
	}

	.navbar {
		height: 180px;
		justify-content: center;
		flex-wrap: wrap;
		padding: 2vh 0;
	}

	#nature-sounds-btn {
		width: 40vw;
		height: 45px;
		font-size: 18px;
	}

	#city-sounds-btn {
		width: 40vw;
		height: 45px;
		font-size: 18px;
	}

	.about {
		font-size: 18px;
		height: 45px;
	}

	.text {
		margin: 20px;
		border: solid 4px;
	}
}

